<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">JLek POS</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span>
                Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="dashboard">
                <span class="bi bi-speedometer2" aria-hidden="true"></span>
                Dashboard
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="cashier">
                <span class="bi bi-cash" aria-hidden="true"></span>
                Cashier
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="kitchen">
                <span class="bi bi-egg-fried" aria-hidden="true"></span>
                Kitchen
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="reports">
                <span class="bi bi-file-earmark-bar-graph" aria-hidden="true"></span>
                Reports
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="settings">
                <span class="bi bi-gear" aria-hidden="true"></span>
                Settings
            </NavLink>
        </div>
    </nav>
</div>